<div class="container">
    <div class="row">
        <div id="message_1_info" class="alert alert-info" role="alert" style="margin-bottom: 0px;margin-top: 10px;">
            <strong> Hello Manga <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="5f25253028336f66661f38323e3633713c3032">[email&#160;protected]</a> </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
