html {
	font-family: Helvetica, Arial, Tahoma, sans-serif;
}
.email-notification {
	margin-left: 25em;
}

.header {
	float: left;
}

.header img {
	width: 60%;
}

.body {
	margin-top: 1.25em;
}
.body p {
	line-height: 2.25em;
}

.line {
	width: 80%;
	border-bottom: 1px solid black;
}

.footer {
	margin-top: 1.25em;
}
.footer p {
	line-height: 1em;
}
.footer img {
	width: 30%;
}