<!-- MUST READ -->
<div class="popular">
    <div class="container">
    <h4 class="latest-text w3_latest_text w3_home_popular" style="color: #e91b23; border-left: 0px solid #e91b23;">TOP MANGA</h4>
        <section class="slider">
            <div class="flexslider" style="padding-top:0em;">
                <ul class="slides">
                    <li>
                        <div class="agile_tv_series_grid">
                            <div class="agileinfo_flexislider_grids">
                                <div *ngFor="let comic of topComic" class="col-md-2 w3l-movie-gride-agile comicView" data-id="304" data-chapter-time="2019-04-22 07:40" data-title="Sanctuary">
                                    <a style="display:block;height:100%;width:100%;" href="https://mangaowl.com/single/304/sanctuary">
                                    <div class="div-hover-zoom-outer" style="position: relative;">
                                        <div class="img-responsive lazy lozad comic_thumbnail div-hover-zoom" 
                                            data-background-image="/uploads/images/comics/304/thumbnail.png" 
                                            style="background-image:url('/assets/images/blank.gif');" alt=""></div>
                                        <span class="tray-item">
                                            {{comic.chapter.name}}
                                        </span>
                                    </div>
                                    </a>
                                    <div class="mid-1 agileits_w3layouts_mid_1_home">
                                <div class="w3l-movie-text">
                                    <h6 class="comic_title">
                                        <a href="https://mangaowl.com/single/304/sanctuary" title="{{comic.name}}" alt="">{{comic.name}}</a>
                                    </h6>
                                </div>
                                <div class="mid-2 agile_mid_2_home">
                                                    <p style="font-size:14px;">
                                                                    <i class="fa fa-book" style="color:#ca3a43;" title="Completed"></i>
                                                                &nbsp;
                                            <i class="fa fa-eye" aria-hidden="true"></i> {{comic.viewer}}
                                        </p>
                                        <div class="block-stars">
                                            <ul class="w3l-ratings">
                                                <li style="font-size:14px;">
                                                    <a>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                    <font style="font-size:1.2em;font-weight:bold">{{comic.vote}}</font>
                                                </li>
                                            </ul>
                                        </div>
                                            </div>
                                    </div>
                                </div>                                                                                                                                                                                                                
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <div class="clearfix"></div>
        <!-- flexSlider -->
    </div>
</div>
<!-- //MUST READ -->

<!-- FEATURED -->
<div class="general">
    <div class="container">
        <div class="row">
            <!-- Top user-->
            <div class="col-xs-12 col-md-4" style="padding-right: 20px;">
                <h4 class="latest-text w3_latest_text w3_home_popular" style="margin-left: -0.5em !important; margin-bottom: 10px !important;color: #337ab7; border-left: 8px solid #337ab7;">Top Night Owls</h4>
                                        <ul class="list-group" style="margin-bottom: 15px;">
                                                        <li class="list-group-item row top-user-1"
                                
                                                                        style="box-shadow: 0px 0px 10px #ea1b23;"
                                                                    >
                                <span class="pull-right">
                                                                                <img src="/uploads/images/emo1.png" width="50px"/>
                                                                        </span>
                                                                    <span><strong>weeda</strong></span>
                                <p style="padding-left:1em;">Read 912 manga on Owl</p>
                            </li>
                                                        <li class="list-group-item row top-user-2"
                                
                                                                        style="box-shadow: 0px 0px 10px #ffb83e;"
                                                                    >
                                <span class="pull-right">
                                                                                <img src="/uploads/images/emo2.png" width="50px"/>
                                                                        </span>
                                                                    <span><strong>Rhyou</strong></span>
                                <p style="padding-left:1em;">Read 641 manga on Owl</p>
                            </li>
                                                        <li class="list-group-item row top-user-3"
                                
                                                                        style="box-shadow: 0px 0px 10px #dcd478;"
                                                                    >
                                <span class="pull-right">
                                                                                <img src="/uploads/images/emo3.png" width="50px"/>
                                                                        </span>
                                                                    <span><strong>Pendragon</strong></span>
                                <p style="padding-left:1em;">Read 381 manga on Owl</p>
                            </li>
                                                        <li class="list-group-item row top-user-4"
                                
                                                                    >
                                <span class="pull-right">
                                                                        </span>
                                                                    <span><strong>cas1528</strong></span>
                                <p style="padding-left:1em;">Read 209 manga on Owl</p>
                            </li>
                                                        <li class="list-group-item row top-user-5"
                                
                                                                    >
                                <span class="pull-right">
                                                                        </span>
                                                                    <span><strong>Leila</strong></span>
                                <p style="padding-left:1em;">Read 187 manga on Owl</p>
                            </li>
                                                        <li class="list-group-item row top-user-6"
                                
                                                                    >
                                <span class="pull-right">
                                                                        </span>
                                                                    <span><strong>Dhani</strong></span>
                                <p style="padding-left:1em;">Read 184 manga on Owl</p>
                            </li>
                                                        <li class="list-group-item row top-user-7"
                                
                                                                    >
                                <span class="pull-right">
                                                                        </span>
                                                                    <span><strong>Yothmit</strong></span>
                                <p style="padding-left:1em;">Read 182 manga on Owl</p>
                            </li>
                                                        <li class="list-group-item row top-user-8"
                                
                                                                    >
                                <span class="pull-right">
                                                                        </span>
                                                                    <span><strong>Elena-killer156</strong></span>
                                <p style="padding-left:1em;">Read 160 manga on Owl</p>
                            </li>
                                                        <li class="list-group-item row top-user-9"
                                
                                                                    >
                                <span class="pull-right">
                                                                        </span>
                                                                    <span><strong>kaku</strong></span>
                                <p style="padding-left:1em;">Read 157 manga on Owl</p>
                            </li>
                                                        <li class="list-group-item row top-user-10"
                                
                                                                    >
                                <span class="pull-right">
                                                                        </span>
                                                                    <span><strong>excape</strong></span>
                                <p style="padding-left:1em;">Read 145 manga on Owl</p>
                            </li>
                                                        <li class="list-group-item row top-user-11"
                                
                                                                    >
                                <span class="pull-right">
                                                                        </span>
                                                                    <span><strong>katkay</strong></span>
                                <p style="padding-left:1em;">Read 131 manga on Owl</p>
                            </li>
                                                        <li class="list-group-item row top-user-12"
                                
                                                                    >
                                <span class="pull-right">
                                                                        </span>
                                                                    <span><strong>TheoTheGoat</strong></span>
                                <p style="padding-left:1em;">Read 122 manga on Owl</p>
                            </li>
                                                </ul>
                                            <div id="ads_pc_336_280_i_2" style="width: 336px; height: 280px; "></div>
                                                            
            </div>
            <div class="col-xs-12 col-md-8">
                <h4 class="latest-text w3_latest_text" style="color: #FF8D1B;border-left: 8px solid #FF8D1B;">New release</h4>
                <section class="slider">
                    <div class="flexslider" style="padding-top:0em;">
                        <ul class="slides">
                                <li>
                                    <div class="agile_tv_series_grid">
                                        <div class="agileinfo_flexislider_grids">
                                                                                                <div class="col-md-3 w3l-movie-gride-agile comicView" 
data-id="55513" data-chapter-time="2019-10-14 08:00"
data-title="Venus Puts Fur on Me.">
<a style="display:block;height:100%;width:100%;" href="https://mangaowl.com/single/55513/venus-puts-fur-on-me-">
    <div class="div-hover-zoom-outer" style="position: relative;">
        <div class="img-responsive lazy lozad comic_thumbnail div-hover-zoom" 
            data-background-image="/uploads/images/comics/55513/thumbnail.png" 
            style="background-image:url('/assets/images/blank.gif');" alt="いじめるヤバイ奴,Ijimeru Yabai Yatsu,Ijima Yabai Yatsu"></div>
        <span class="tray-item">
            Vol.1 Chapter 3: Shirosaki&#039;s Judge
        </span>
    </div>
</a>
        <div class="mid-1 agileits_w3layouts_mid_1_home">
    <div class="w3l-movie-text">
        <h6 class="comic_title">
            <a href="https://mangaowl.com/single/55513/venus-puts-fur-on-me-" title="Venus Puts Fur on Me." alt="いじめるヤバイ奴,Ijimeru Yabai Yatsu,Ijima Yabai Yatsu">Venus Puts Fur on Me.</a>
        </h6>
    </div>
    <div class="mid-2 agile_mid_2_home">
                        <p style="font-size:14px;">
                                    &nbsp;
                <i class="fa fa-eye" aria-hidden="true"></i> 47
            </p>
            <div class="block-stars">
                <ul class="w3l-ratings">
                    <li style="font-size:14px;">
                        <a>
                                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                                        </a>
                        <font style="font-size:1.2em;font-weight:bold">0</font>
                    </li>
                </ul>
            </div>
                </div>
</div>
</div>
                                                                                            </div>
                                    </div>
                                </li>
                        </ul>
                    </div>
                </section>
                <button type="button" class="pull-right btn" ><a href="https://mangaowl.com/new_release">Read more</a></button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- //FEATURED -->
    
<!-- LASTEST UPDATE -->
<div class="lastest">
    <div class="container">
    <h4 class="latest-text w3_latest_text w3_home_popular" style="color: #5cb85c; border-left: 8px solid #5cb85c;">LASTEST UPDATE</h4>
        <section class="slider">
            <div class="flexslider" style="padding-top:0em;">
                <ul class="slides">
                    <li>
                        <div class="agile_tv_series_grid">
                            <div class="agileinfo_flexislider_grids">
                                                                        <div class="col-md-2 w3l-movie-gride-agile comicView" 
data-id="10466" data-chapter-time="2019-10-14 02:00"
data-title="Fushidara na Hanatsumi Otoko">
<a style="display:block;height:100%;width:100%;" href="https://mangaowl.com/single/10466/fushidara-na-hanatsumi-otoko">
    <div class="div-hover-zoom-outer" style="position: relative;">
        <div class="img-responsive lazy lozad comic_thumbnail div-hover-zoom" 
            data-background-image="/uploads/images/comics/10466/thumbnail.png" 
            style="background-image:url('/assets/images/blank.gif');" alt="ふしだらな花摘み男, The Promiscuous Flower Picking Man"></div>
        <span class="tray-item">
            Chapter 33
        </span>
    </div>
</a>
        <div class="mid-1 agileits_w3layouts_mid_1_home">
    <div class="w3l-movie-text">
        <h6 class="comic_title">
            <a href="https://mangaowl.com/single/10466/fushidara-na-hanatsumi-otoko" title="Fushidara na Hanatsumi Otoko" alt="ふしだらな花摘み男, The Promiscuous Flower Picking Man">Fushidara na Hanatsumi Otoko</a>
        </h6>
    </div>
    <div class="mid-2 agile_mid_2_home">
                        <p style="font-size:14px;">
                                    &nbsp;
                <i class="fa fa-eye" aria-hidden="true"></i> 5,501
            </p>
            <div class="block-stars">
                <ul class="w3l-ratings">
                    <li style="font-size:14px;">
                        <a>
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                        </a>
                        <font style="font-size:1.2em;font-weight:bold">7.79</font>
                    </li>
                </ul>
            </div>
                </div>
</div>
</div>                                                                            
                                                                    </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <button type="button" class="pull-right btn" ><a href="https://mangaowl.com/lastest">Read more</a></button>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //LASTEST UPDATE -->

<!-- MOST POPULAR -->
<div class="popular">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h4 class="latest-text w3_latest_text w3_home_popular" style="color: #337ab7; border-left: 8px solid #337ab7;">Most Popular manga</h4>
                <section class="slider">
                    <div class="flexslider" style="padding-top:0em;">
                        <ul class="slides">
                                                                <li>
                                    <div class="agile_tv_series_grid">
                                        <div class="agileinfo_flexislider_grids">
                                                                                                <div class="col-md-3 w3l-movie-gride-agile comicView" 
data-id="54793" data-chapter-time="2019-08-07 08:01"
data-title="Lucia">
<a style="display:block;height:100%;width:100%;" href="https://mangaowl.com/single/54793/lucia">
    <div class="div-hover-zoom-outer" style="position: relative;">
        <div class="img-responsive lazy lozad comic_thumbnail div-hover-zoom" 
            data-background-image="/uploads/images/comics/54793/thumbnail.png" 
            style="background-image:url('/assets/images/blank.gif');" alt="Lucia (Taruvi); 루시아"></div>
        <span class="tray-item">
            Chapter 2
        </span>
    </div>
</a>
        <div class="mid-1 agileits_w3layouts_mid_1_home">
    <div class="w3l-movie-text">
        <h6 class="comic_title">
            <a href="https://mangaowl.com/single/54793/lucia" title="Lucia" alt="Lucia (Taruvi); 루시아">Lucia</a>
        </h6>
    </div>
    <div class="mid-2 agile_mid_2_home">
                        <p style="font-size:14px;">
                                    &nbsp;
                <i class="fa fa-eye" aria-hidden="true"></i> 10,531
            </p>
            <div class="block-stars">
                <ul class="w3l-ratings">
                    <li style="font-size:14px;">
                        <a>
                                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                                        </a>
                        <font style="font-size:1.2em;font-weight:bold">0</font>
                    </li>
                </ul>
            </div>
                </div>
</div>
</div>  
                                                                                            </div>
                                    </div>
                                </li>
                                                        </ul>
                    </div>
                </section>
                <button type="button" class="pull-right btn" ><a href="https://mangaowl.com/popular">Read more</a></button>
                <div class="clearfix"></div>
                <!-- flexSlider -->
            </div>
            <!-- READING NOW -->
            <!-- <div class="col-xs-12 col-md-4">
                <h4 class="latest-text w3_latest_text w3_home_popular" style="margin-left: -0.5em !important; margin-bottom: 10px !important;color: #337ab7; border-left: 8px solid #337ab7;">Reading right now</h4>

                <ul class="list-group" id="nowReadingList">
                    
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                </ul>
            </div> -->
        </div>
    </div>
</div>
<!-- //MOST POPULAR -->
